# Exam 1

Instructions:  
This is a closed book exam.  You are not allowed to use another person or any internet resources. This exam is not timed.  Good Luck, you'll do great.

Name: Bryce Daniels & Chance Edwards
    

    
## Short Written Answer
1. What is the keyboard shortcut for turning a code cell into a text cell in a Jupyter notebook.

In [ ]:
#Answer: "M"

2. What type of number is produced when two integers are added together?

In [ ]:
#Answer:Another Interger

3. What does the `%` operator do? (i.e. `5%2`)

In [ ]:
#Answer: Gives you the remainder of two intergers

4. What does multiplying a string and an integer produce (or does it produce an error)?

In [ ]:
#Answer:You'll get the string repeated how ever many times the interger is

5. What are f-strings?  Give an example.

In [64]:
#Answer:F-strings are formatted strings that allow you insert a varibles in your print statement
forex = 3.34
print(f'The answer is {forex}')

The answer is 3.34

6. When printing a string with a variable inserted into it, how do you format that number to be in scientific notation with only three digits being displayed after the decimal place?  (Feel free to give a code example in the cell below if that is easier)

In [65]:
#Answer: {c:.3e}
c = 3e8
print(f'The speed of light is {c:.3e}')

The speed of light is 3.000e+08

7. How do you extract a substring from a larger string? (Give an example)

In [66]:
#Answer: by using slicing methods
Obi = "Hello_There"
Obi[0:5]

'Hello'

8. What does the `len` function do?

In [ ]:
#Answer: The Len function will tell you how long your string, list or tuple is

9. What does `a *= 10` mean?

In [ ]:
#Answer: it will redefine 'a' to a TIMES 10

10. What is the correct way to check to see if two **float variables** are equal to each other?  (You can write some code to illustrate if you prefer.)

In [68]:
#Answer: by using the absolute value of the difference, 
print(abs((2.0)-(12/6))<1e-6)

True

11. What happens when you add two lists together?

In [69]:
#Answer: You get one list in order of how you added them together.
a =[1,2,3]
b = [4,5,6]
print(b+a)

[4, 5, 6, 1, 2, 3]

## Short Code Answer


1. Extract every other element starting at the second element and ending at the 10th element (inclusive) in the list below.

In [39]:
myList = [5,2,1,4,3,5,1,2,4,1,3,5,9,6,5]
myList[1:11:2]

[2, 4, 5, 2, 1]

2. Write a single line of code that prints `True` if the name "Alexa" is in the list of names below. Otherwise it prints `False`

In [41]:
names = "Joe,Samantha,Fred,Brigham,Jillyn,Gus,Grant,Bradley,Sophia,Julia,Alex,Penny,Paige,Crystal,Melanie,Joseph,Carter,Linus,Albert,Tori,Alexa"
names.find("Alexa") >= 0

True

3. Using a single line of code, generate a list of even numbers less than 100.

In [44]:
# Python code here.
mylist = list(range(2,100,2))
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

4. Extract the second to last element in the list below.

In [45]:
electrons = ["1s1","1s2", "1s2-2s1","1s2-2s2","1s2-2s2-2p1","1s2-2s2-2p2","1s2-2s2-2p3","1s2-2s2-2p4","1s2-2s2-2p5","1s2-2s2-2p6"]
electrons[-2]

'1s2-2s2-2p5'

5. Extract the second number in the second list given below. (It's 5!)

In [47]:
conductivity = [[1,2,3],[4,5,6],[7,8,9]]
conductivity[1][1]

5

6. Using a single line of code, add the following electron configurations to the list below: "1s2-2s2-2p6-3s1", "1s2-2s2-2p6-3s2", and "1s2-2s2-2p6-3s2-3p1"

In [49]:
electrons = ["1s1","1s2", "1s2-2s1","1s2-2s2","1s2-2s2-2p1","1s2-2s2-2p2","1s2-2s2-2p3","1s2-2s2-2p4","1s2-2s2-2p5","1s2-2s2-2p6"]
electrons.extend(["1s2-2s2-2p6-3s1", "1s2-2s2-2p6-3s2","1s2-2s2-2p6-3s2-3p1"])
print(electrons)

['1s1', '1s2', '1s2-2s1', '1s2-2s2', '1s2-2s2-2p1', '1s2-2s2-2p2', '1s2-2s2-2p3', '1s2-2s2-2p4', '1s2-2s2-2p5', '1s2-2s2-2p6', '1s2-2s2-2p6-3s1', '1s2-2s2-2p6-3s2', '1s2-2s2-2p6-3s2-3p1']

7. Using a single line of code, determine the location of the following electron configuration in the list below: "1s2-2s2-2p2"

In [50]:
electrons = ["1s1","1s2", "1s2-2s1","1s2-2s2","1s2-2s2-2p1","1s2-2s2-2p2","1s2-2s2-2p3","1s2-2s2-2p4","1s2-2s2-2p5","1s2-2s2-2p6"]
electrons.index("1s2-2s2-2p2")

5

8. Below you will find two lists of numbers.  Use a single line of code to join them together to form a single list containing all of the numbers.

In [ ]:
x = [3,6,9,12,15]
y = [5,10,15,20]
x+y

9. Find the minimum value in the list of numbers in the cell below.

In [ ]:
from numpy.random import uniform
x = uniform(0,10,1000)
min(x)

10. Determine how many 7s are in the list below.

In [53]:
from numpy.random import randint
x = randint(0,10,1000)
list(x).count(7)

89

11. The cell below contains a dictionary with the orbital radii of the planets in our solar system.  Use a single line of code to produce a list that contains all of the radii.

In [54]:
orbitalRadii = {"Mercury":0.39, "Venus":0.72, "Earth":1.0, "Mars":1.5,"Jupiter":5.2,"Saturn":9.5, "Uranus":19.2,"Neptune":30.1, "Pluto": 39.5}
orbitalRadii.values()

dict_values([0.39, 0.72, 1.0, 1.5, 5.2, 9.5, 19.2, 30.1, 39.5])

12. The cell below contains a dictionary with the orbital radii of the planets in our solar system. Use a single line of code to add entries for two new planets.  You choose the name of the planets and their radii.

In [56]:
orbitalRadii = {"Mercury":0.39, "Venus":0.72, "Earth":1.0, "Mars":1.5,"Jupiter":5.2,"Saturn":9.5, "Uranus":19.2,"Neptune":30.1, "Pluto": 39.5}
orbitalRadii.update({"Tatooine": 4.67, "Hoth": 5.87})
print(orbitalRadii)

{'Mercury': 0.39, 'Venus': 0.72, 'Earth': 1.0, 'Mars': 1.5, 'Jupiter': 5.2, 'Saturn': 9.5, 'Uranus': 19.2, 'Neptune': 30.1, 'Pluto': 39.5, 'Tatooine': 4.67, 'Hoth': 5.87}

13. The cell below contains two sets.  Find their difference.

In [57]:
squares= {1,4,9,16,25,36,49,64,81,100,121,144,169,196,225}
triangles = {1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190}
squares^triangles

{3,
 4,
 6,
 9,
 10,
 15,
 16,
 21,
 25,
 28,
 45,
 49,
 55,
 64,
 66,
 78,
 81,
 91,
 100,
 105,
 120,
 121,
 136,
 144,
 153,
 169,
 171,
 190,
 196,
 225}

14. Construct a lambda function for $y = {\sin(x) \over x}$

In [62]:
# Python code here
from math import sin
y= lambda x: sin(x)/x

15. Import the following functions/numbers from the `math` module: `tan`,`sin`, and `pi`

In [63]:
# Python code here
from math import tan, sin, pi

## Long Code Answer

1. Calculate the following quantities in the cell provided below.
    1. ${ 5^2 \over \sqrt{3} + 2}$
    2. $\cos(215^\circ)$
    3. $\log_{10}(200)$
    4. $e^2.3$

In [ ]:
# Python code here
from numpy import sqrt, cos, log10, e
A = 5**2 /(sqrt(3)+2)
B = cos(215*pi/180)
C = log10(200)
D = e**(2.3)

2. In the cell below, you'll find a string containing the first 7 energy levels for the Hydrogen atom.  But there are also other characters and symbols mixed into the string. The energies are: `[-13.6,-3.4,-1.511,...]` 
    1. **Using list methods/functions** generate a list that only contains the energies. Don't just read the values and build the list by hand. The list elements must be numbers, not string.
    2. Calculate the energy difference between level 1 and level 7.
    3. Calculate the energy difference between level 3 and level 5.
    
Hint: You will need some form of a loop (`for` loop or list comprehension) as well as the `split` list method.

In [4]:
energies = "Level 1:-13.6,Level 2:-3.4,Level 3:-1.511,Level 4:-0.850,Level 5:-0.544,Level 6:-0.378,Level 7:-0.278"
levels = energies.split(',')
energy = []
for level in levels:
    energy.append(float(level.split(':')[1]))
print(energy)
B = energy[0]-energy[6]
C = energy[2]-energy[4]
print(B,C)

[-13.6, -3.4, -1.511, -0.85, -0.544, -0.378, -0.278]
-13.322 -0.9669999999999999

3. You may remember the fibonacci sequence from class. The first and second numbers in the sequence are both $1$. Subsequent numbers in the sequence can be found by adding the two previous numbers together.  Here are the first few number in the sequence: $$[1,1,2,3,5,8,13]$$ Write some code that will populate a list with the fibonacci numbers until the ratio of the last two numbers is within $1 \times 10^{-8}$ of the golden ratio: $1.61803398874989$.  Report how many fibonacci numbers you generated. 

    1. Do it using a `while` loop. Caution: Build a fail-safe into your `while` loop to avoid an infinite loop.
    2. Do it using a `for` loop.

In [12]:
#Python code here.
fib = [1,1]
counter = 0
while abs(fib[-1]/fib[-2] - 1.61803398874989)> 1e-8:
    num = fib[-2]+fib[-1]
    fib.append(num)
    counter +=1
    if counter > 10000:
        break
print(counter)

fib = [1,1]
counter = 0
for n in range(10000):
    num = fib[-2]+fib[-1]
    fib.append(num)
    counter +=1
    if abs(fib[-1]/fib[-2] - 1.61803398874989)< 1e-8:
        break
print(counter)

19
19

4. The hexagonal sequence is a sequence of number where the n-th number is given by $$ h_n = {2 n (2n - 1)\over 2}$$. (see [here](https://en.wikipedia.org/wiki/Hexagonal_number) for an explanation of what the hexagonal numbers are if you are curious.  ) Use a method of your choosing to construct a list containing the first 100 hexagonal numbers.  The website linked above also gives the first 15 or 20 numbers in the sequence and you can use that information to check yourself if you'd like.

In [13]:
#Python code here.
n = 0
hex = [2*n*(2*n-1)/2 for n in range(1,101)]
print(hex)

[1.0, 6.0, 15.0, 28.0, 45.0, 66.0, 91.0, 120.0, 153.0, 190.0, 231.0, 276.0, 325.0, 378.0, 435.0, 496.0, 561.0, 630.0, 703.0, 780.0, 861.0, 946.0, 1035.0, 1128.0, 1225.0, 1326.0, 1431.0, 1540.0, 1653.0, 1770.0, 1891.0, 2016.0, 2145.0, 2278.0, 2415.0, 2556.0, 2701.0, 2850.0, 3003.0, 3160.0, 3321.0, 3486.0, 3655.0, 3828.0, 4005.0, 4186.0, 4371.0, 4560.0, 4753.0, 4950.0, 5151.0, 5356.0, 5565.0, 5778.0, 5995.0, 6216.0, 6441.0, 6670.0, 6903.0, 7140.0, 7381.0, 7626.0, 7875.0, 8128.0, 8385.0, 8646.0, 8911.0, 9180.0, 9453.0, 9730.0, 10011.0, 10296.0, 10585.0, 10878.0, 11175.0, 11476.0, 11781.0, 12090.0, 12403.0, 12720.0, 13041.0, 13366.0, 13695.0, 14028.0, 14365.0, 14706.0, 15051.0, 15400.0, 15753.0, 16110.0, 16471.0, 16836.0, 17205.0, 17578.0, 17955.0, 18336.0, 18721.0, 19110.0, 19503.0, 19900.0]

5. Use a loop to calculate the following summation for $x = 0.5$: $$ \sum_{n = 0}^\infty (-1)^n {x^{n+1} \over n + 1}$$  Do it three different ways:
    1. Using a `for` loop with enough iterations that the sum isn't changing much. 
    2. Using a `while` loop that continues until ${x^{n+1} \over n + 1} < 1 \times 10^{-4}$. Report the number of iterations you had to perform to get that level of accuracy.
    3. Using list comprehension and the `sum` function. (Use the same number of terms that you used for your `for` loop.)
    
The sum should converge to $$\ln(1+ x)$$ if you include a sufficient number of terms.  Check that it does.

In [19]:
#Python code here
n=0
x=0.5
Sum = 0
for n in range(600):
    Sum += -1**n*(x**(n+1)/(n+1))
print(Sum)

n=0
Sums = 0
while (x**(n+1)/(n+1)) > 1e-4:
    Sums += -1**n*(x**(n+1)/(n+1))
    n+=1
    if n > 1000000:
        break
print(Sums)

C=[-1**n*(x**(n+1)/(n+1)) for n in range(600)]
print(sum(C))

-0.6931471805599451
-0.6929671999007935
-0.6931471805599451

6. An important function in thermodynamics is the multiplicity equation: $$ \Omega = {(q + N - 1)! \over q! (N-1)!}$$ which gives the number of ways to arrange $q$ units of energy amongst $N$ particles.

    1. Construct a function that takes the number of energy units($q$) as a required argument and the number of particles ($N$) as a keyword argument with a default value of $10$.  The function should return the multiplicity ($\Omega$). Note: there is a `factorial` function inside `scipy.special`. 
    2. Now use list comprehension (or a traditional loop) to call your function for $q$ values ranging from $0\rightarrow 10$ (inclusive).
    3. Use a list method to determine which $q$ value produces the largest multiplicity ($\Omega$).

In [27]:
# Python code here
from scipy.special import factorial
def mult(q,N = 10):
    return factorial(q+N-1)/(factorial(q)*factorial(N-1))

mults = [mult(q) for q in range(11)]
print(f'The max multiplicity is {max(mults)} with a q value of {mults.index(max(mults))}')

The max multiplicity is 92378.0 with a q value of 10

7. Perform the following:
    1. Using list comprehension, generate a list of the first 50 even numbers squared. (i.e. `[2^2,4^2,6^2,...]`)
    2. Use list slicing to extract **every other number** in this list.
    3. Add the number $102^2=10404$ to the end of the list
    4. Use a single line of code to remove $62^2 = 3844$ from the list.
    5. Add the numbers $[104^2, 106^2]$ to the end of the list using a single line of code.
    7. Reverse the order of the list.
    8. Add up all of the values and print the result.

In [36]:
# Python code here
A=[i**2 for i in range(2,101,2)]
A[::2]
A.append(102**2)
A.remove(3844)
A.extend([104**2,106**2])
A.reverse()
sum(A)
print(A, sum(A))

[11236, 10816, 10404, 10000, 9604, 9216, 8836, 8464, 8100, 7744, 7396, 7056, 6724, 6400, 6084, 5776, 5476, 5184, 4900, 4624, 4356, 4096, 3600, 3364, 3136, 2916, 2704, 2500, 2304, 2116, 1936, 1764, 1600, 1444, 1296, 1156, 1024, 900, 784, 676, 576, 484, 400, 324, 256, 196, 144, 100, 64, 36, 16, 4] 200312